@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c7c4c4;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background:rgb(192, 196, 192);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

.App{
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 100px 16px;
  background-color: var(--gray-100);
  min-height:100vh;
  height: 100%;
}
.button{
  width: max-content;
}

#canvas{
  border: 1px solid var(--border-nuetral-subtle);
  z-index: 2;
}

.lower-canvas{
  position: initial !important;
}

.Toolbar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color:rgb(94, 94, 94);
  padding: 8px 8px;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  &:empty {
    display: none;
  }
}

.Settings {
  position: fixed;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  gap: 8px;
  display: flex;
  flex-direction: column;
  background-color: #111; /* Nearly black */
  padding: 24px 8px;
  border-radius: 10px;
  text-align: left;
  color: white;


  &:empty {
    padding: 0;
  }
}

.Settings .MuiInputBase-input {
  color: white;
}

.Settings .MuiInputBase-root {
  color: white;
}

.Settings .MuiInputBase-root {
  border: 1px solid white;
  border-radius: 4px; /* Optional, for rounded corners */
  padding: 4px 8px;   /* Optional, adjust inner spacing */
  margin-top: 0;
}
